<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', roast: order_item.roast, order_item: order_item, show_total: true %>
  <% end %>
  <% if current_user %>
  <%= form_tag buy_path(current_order) do %>
    <script
	src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
	data-amount="<%= current_order.subtotal / 100 %>"
	data-name="marketplace"
	data-email="<%= current_user.email %>">
    </script> 
  <% end %>
  
  <% else %>
  
    <p>Please Login First to Buy</p>
  <% end %>
<% end %> 
